<ion-header>
    <ion-navbar>
        <ion-title>{{'Add Booking' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-row>
        <ion-col col-12>
            <button ion-button block outline color="gpsc" *ngIf="!showCustForm" (click)="checkBtn('cust')">Add Customer
                Detail</button>
            <button ion-button block color="gpsc" *ngIf="showCustForm" (click)="checkBtn('cust')">Add Customer
                Detail</button>
        </ion-col>
        <ion-col col-12>
            <button ion-button block outline color="gpsc" *ngIf="!showVehicleForm" (click)="checkBtn('vehicle')">Add
                Vehicle Detail</button>
            <button ion-button block color="gpsc" *ngIf="showVehicleForm" (click)="checkBtn('vehicle')">Add Vehicle
                Detail</button>
        </ion-col>
    </ion-row>
    <form *ngIf="showCustForm" [formGroup]="addBookingForm" style="padding-right: 16px;">
        <ion-item>
            <ion-label stacked>{{'Full Name' | translate}}</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1" no-lines
            *ngIf="!addBookingForm.controls.name.valid && (addBookingForm.controls.name.dirty || submitAttempt)">
            <p style="font-size: 0.7em; color: red;">{{'Full name is required!' | translate}}</p>
        </ion-item>
        <ion-row>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Identity Card / Passport' | translate}}</ion-label>
                    <ion-input type="text" formControlName="idcard_passport" (input)="showBtn = true">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addBookingForm.controls.idcard_passport.valid && (addBookingForm.controls.idcard_passport.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'Identity card number is required!' | translate}}</p>
                </ion-item>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Valid Until' | translate}}</ion-label>
                    <ion-input type="date" formControlName="id_VU">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addBookingForm.controls.id_VU.valid && (addBookingForm.controls.id_VU.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'Valid until date is required!' | translate}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showBtn">
            <ion-col col-12 style="padding: 5px 0px 5px 16px;">
                <button ion-button block round outline color="gpsc" (click)="verifyId()">Verify Id</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Driver Licence' | translate}}</ion-label>
                    <ion-input type="text" formControlName="driver_licence">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addBookingForm.controls.driver_licence.valid && (addBookingForm.controls.driver_licence.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'Driver Licence number is required!' | translate}}</p>
                </ion-item>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Valid Until' | translate}}</ion-label>
                    <ion-input type="date" formControlName="dl_VU">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addBookingForm.controls.dl_VU.valid && (addBookingForm.controls.dl_VU.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'Valid until date is required!' | translate}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Nationality' | translate}}</ion-label>
                    <ion-input formControlName="nationality" type="text"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Date Of Birth' | translate}}</ion-label>
                    <ion-input formControlName="dob" type="date"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label stacked>{{'Contract Number' | translate}}</ion-label>
            <ion-input formControlName="contract_number" type="number"></ion-input>
        </ion-item>
        <ion-item class="logitem1" no-lines
            *ngIf="!addBookingForm.controls.contract_number.valid && (addBookingForm.controls.contract_number.dirty || submitAttempt)">
            <p style="font-size: 0.7em; color: red;">{{'Contract number is required!' | translate}}</p>
        </ion-item>

        <ion-item>
            <ion-label stacked>{{'Telephone'| translate}}</ion-label>
            <ion-input formControlName="tele" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>{{'Email'| translate}}</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>{{'Permanent Address' | translate}}</ion-label>
            <ion-input formControlName="permanent_address" type="text"></ion-input>
        </ion-item>
    </form>
    <ion-item *ngIf="showVehicleForm">
        <ion-label stacked>{{'Select Vehicle' | translate}}</ion-label>
        <select-searchable style="padding: 0px;" item-content [(ngModel)]="vehicle_name" [items]="portstemp"
            itemValueField="Device_Name" itemTextField="Device_Name" [canSearch]="true"
            (onChange)="onChangedSelect(vehicle_name)">
        </select-searchable>
    </ion-item>
    <form *ngIf="showVehicleForm" [formGroup]="addVehicleForm" style="padding-right: 16px;">

        <ion-item>
            <ion-label stacked>{{'Vehicle Brand' | translate}}</ion-label>
            <ion-input formControlName="brand" type="text" readonly></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addVehicleForm.controls.brand.valid && (addVehicleForm.controls.brand.dirty || submitAttempt)"
            no-lines>
            <p style="font-size: 0.7em; color: red;">{{'vehicle brand is required!' | translate}}</p>
        </ion-item>
        <ion-item>
            <ion-label stacked>{{'Vehicle Model'| translate}}</ion-label>
            <ion-input formControlName="device_model" type="text" readonly></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addVehicleForm.controls.device_model.valid && (addVehicleForm.controls.device_model.dirty || submitAttempt)"
            no-lines>
            <p style="font-size: 0.7em; color: red;">{{'device model required!'| translate}}</p>
        </ion-item>
        <ion-row>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Price per Day' | translate}}</ion-label>
                    <ion-input type="number" formControlName="priceperday">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addVehicleForm.controls.priceperday.valid && (addVehicleForm.controls.priceperday.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'price per day is required!'| translate}}</p>
                </ion-item>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Price per Month' | translate}}</ion-label>
                    <ion-input type="number" formControlName="pricepermonth">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addVehicleForm.controls.pricepermonth.valid && (addVehicleForm.controls.pricepermonth.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'price per month is required!'| translate}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Total Price' | translate}}</ion-label>
                    <ion-input type="number" formControlName="totalprice">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addVehicleForm.controls.totalprice.valid && (addVehicleForm.controls.totalprice.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'total price is required!'| translate}}</p>
                </ion-item>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Fuel Level' | translate}}</ion-label>
                    <ion-input type="number" formControlName="fuellevel">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addVehicleForm.controls.fuellevel.valid && (addVehicleForm.controls.fuellevel.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'fuel level is required!'| translate}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Home Delivery' | translate}}</ion-label>
                    <ion-input type="text" formControlName="home_delivery">
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Damage Limit' | translate}}</ion-label>
                    <ion-input type="number" formControlName="damage_limit">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Pickup Date' | translate}}</ion-label>
                    <ion-input type="date" formControlName="pickup_date">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addVehicleForm.controls.pickup_date.valid && (addVehicleForm.controls.pickup_date.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'pickup date required!'| translate}}</p>
                </ion-item>
            </ion-col>
            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label stacked>{{'Expected Return Date' | translate}}</ion-label>
                    <ion-input type="date" formControlName="expected_return_date">
                    </ion-input>
                </ion-item>
                <ion-item class="logitem1" no-lines
                    *ngIf="!addVehicleForm.controls.expected_return_date.valid && (addVehicleForm.controls.expected_return_date.dirty || submitAttempt)">
                    <p style="font-size: 0.7em; color: red;">{{'expected return date required!'| translate}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!upload_doc && allData.length === 0">
            <ion-col col-12 style="padding: 5px 0px 5px 16px;">
                <button ion-button color="gpsc" round block outline (click)="uploadDocCheck()">Upload Vehicle Images</button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="upload_doc || allData.length > 0" style="padding-top: 5px;">
            <ion-col col-12 style="padding: 5px 0px 5px 16px;">
                <div class="img_container" (click)="selectImage()">
                    <ion-icon *ngIf="allData.length === 0" name="add-circle" color="gpsc" style="font-size: 1.5em;">
                    </ion-icon>
                    <img *ngIf="allData.length !== 0" src="{{allData[0].fileUrl}}" style="height: 150px; width: 100%;" />
                </div>
            </ion-col>
            <ion-col col-12 style="padding: 5px 0px 5px 16px;">
                <div class="img_container" (click)="selectImage()">
                    <img *ngIf="allData.length >= 2" src="{{allData[1].fileUrl}}" style="height: 150px; width: 100%;" />
                    <ion-icon *ngIf="allData.length === 1 || allData.length === 0" name="add-circle" color="gpsc"
                        style="font-size: 1.5em;"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="upload_doc || allData.length > 0">
            <ion-col col-6 style="padding: 5px 0px 5px 16px;">
                <div class="img_container" (click)="selectImage()">
                    <img *ngIf="allData.length >= 3" src="{{allData[2].fileUrl}}" style="height: 120px; width: 100%;" />
                    <ion-icon *ngIf="allData.length === 2 || allData.length === 0 || allData.length === 1"
                        name="add-circle" color="gpsc" style="font-size: 1.5em;"></ion-icon>
                </div>
            </ion-col>
            <ion-col col-6 style="padding: 5px 0px 5px 16px;">
                <div class="img_container" (click)="selectImage()">
                    <img *ngIf="allData.length >= 4" src="{{allData[3].fileUrl}}" style="height: 120px; width: 100%;" />
                    <ion-icon
                        *ngIf="allData.length === 3 || allData.length === 0 || allData.length === 1 || allData.length === 2"
                        name="add-circle" color="gpsc" style="font-size: 1.5em;"></ion-icon>
                </div>
            </ion-col>
        </ion-row> -->
    </form>
</ion-content>

<ion-footer class="footSty">
    <ion-toolbar>
        <ion-row no-padding>
            <ion-col col-12 *ngIf="showVehicleForm" style="text-align: center; padding: 0px !important">
                <button ion-button style="padding: 0px;" clear color="light"
                    (click)="addBooking('vehicle')">{{'SUBMIT VEHICLE DETAIL' | translate}}</button>
            </ion-col>
            <ion-col col-12 *ngIf="showCustForm" style="text-align: center; padding: 0px !important">
                <button *ngIf="!showUpdateBtn" ion-button style="padding: 0px;" clear color="light"
                    (click)="addBooking('cust')">{{'SUBMIT CUSTOMER DETAIL' | translate}}</button>
                    <button *ngIf="showUpdateBtn" ion-button style="padding: 0px;" clear color="light"
                    (click)="addBooking('custupdate')">{{'UPDATE CUSTOMER DETAIL' | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>