page-my-bookings {
    .img_container {
        text-align: center;
        height:150px;
        border:1px solid lightgray;
        border-radius: 5px;
    }
    .img_container > ion-icon {
        position:relative;
        top: calc(50% - 10px); /* 50% - 3/4 of icon height */
    }
   
}

.ios .select-searchable, .md .select-searchable, .wp .select-searchable { 
    max-width: 100%;
}

.item-label-stacked .text-input-md, .item-label-floating .text-input-md {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: -6px;
    width: calc(100% - 8px);
}
